.navBarWrapper {
    background: rebeccapurple;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-weight: bold;
}

.userText{
    color: red;
    text-transform: uppercase;
    text-indent: 4px;
    font-size: larger;
}